/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;

}

#second {
    color: blue;
    font-size: 36px;
}

.font {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-weight: bold;
}